/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #11111fFF;
    background-alt: #1e1e37FF;
    foreground:     #c0caf5FF;
    selected:       #bb9af7FF;
    active:         #1a1b26FF;
    urgent:         #FB4934FF;
}
