/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #19111FFF;
    background-alt: #1B1426FF;
    foreground:     #C0CAF5FF;
    selected:       #AF8FD5FF;
    active:         #16111FFF;
    urgent:         #FB4934FF;
}
